<div class="container-fluid m-2">
    {{> user_messages}}
</div>

<img class="backpack" src= "../assets/images/backpack.jpeg" alt="backpack" width="100">


<div class="container">
    <h3>{{pageTitle}}</h3>

    <p class="text-center">
        <strong>Role: </strong>{{role}}
    </p>
    <p class="text-center">
        <strong>Email: </strong>{{email}}
    </p>
    <p class="text-center">
        <strong>School: </strong>{{school}}
    </p>
    <p class="text-center">
        <strong>Subject Area: </strong>{{subjectArea}}
    </p>
    <p class="text-center">
        <em>User since {{dateAdded}}</em>
    </p>

</div>

