<div class="container-fluid m-2">
    {{> user_messages}}
</div>

<img class="backpack" src= "../assets/images/backpack.jpeg" alt="backpack" width="100">


<div class="container">
    <h3>{{oppTitle}}</h3>

    <p class="lead text-center">
        {{oppDescription}}
    </p>
    <p class="text-center">
        <strong>Due: </strong>{{oppDateDue}}
    </p>
    <p class="text-center">
        <strong>Type of Opportunity: </strong>{{oppType}}
    </p>
    <p class="text-center">
        <strong>Virtual or In-person: </strong>{{oppLoc}}
    </p>
    <p class="text-center">
        <strong>Submitted by: </strong>{{oppSubmitter}}
    </p>

</div>

{{#if loggedIn}}
    {{>view_footer}}
{{/if}}