<img class="backpack" src= "../images/backpack.jpeg" alt="backpack" width="100">

<h3>Do you want to delete "{{oppTitle}}"?</h3>
<div class = "form">
    <form method="post" action="/opportunities/destroy">
        <p> Key: {{oppKey}} </p>
        <input type="hidden" name="oppKey" value="{{oppKey}}"/>
        <p> <strong>Date Due: </strong>{{oppDateDue}}</p>
        <p><strong>Description: </strong>{{oppDescription}}</p>
        <input type="submit" value="Delete" />
    </form>
</div>
